<a class="scroll-point" id="about"></a>

<div  class="sectiongrey">
<section>
    <div class="separator"> 
        <div class="line"></div>
        <h2>Sobre nós</h2>
        <div class="line"></div>
    </div>
    <div class="grid3">
        <p>
        No mercado desde 1999, a Autoescola Brasil tem como
filosofia de trabalho a clareza e a transparência na prestação 
de serviços, visando a cada dia melhorar. Ao longo dos 
anos vem voluntariamente desenvolvendo trabalhos sociais 
como palestras em escolas, empresas além de projetos 
educativos voltados para o trânsito atingindo todas as faixas 
etárias. Atualmente conta com uma equipe de seis instrutores 
treinados e qualificados e uma frota de oito veículos sendo: 
quatro automóveis Categoria (B), três motocicletas categoria 
(A) e um ônibus para a categoria (D).
</p>    
</div>
</section>
</div>