<div class="sectionblue">
<footer id="footer">
    <div class="wrapper">
        <div class="left-content">
            <a id="menu-footer"></a>
            <nav class="menu-footer">
                <ul>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#freebies">Simulados</a></li>
                    <li><a href="#clients">Projetos</a></li>
                    <li><a href="#contact">Contato</a></li>
                </ul>
            </nav>
            
      </div>
    </div>
</footer>
</div>