<a class="scroll-point" id="contact"></a>
<div class="clear"></div>

<div class="sectionorange">
<section>
    <div class="separator"> 
        <div class="line"></div>
        <h2>Contato</h2>
        <div class="line"></div>
    </div>


    <div class="wrapper">
        <div class="content">
            <hgroup>
                <h1 style="color: white;"  >Venha fazer uma visita!</h1>
                <h1 style="color: white;"  >Avenida 13 de Maio, 208 - Centro - Jaboticabal/SP Fone: (16) 3203 3000 </h1>
            </hgroup>       
            <div class="clear"></div>               
                <div class="read-on">
                <a href="mailto:autoescbrasil@terra.com.br" class="btn btn-large btn-block btn-inverse">autoescbrasil@terra.com.br</a>
                </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
</div>