<a class="scroll-point" id="home"></a>

<div id="top">
    <nav>
        <div class="logo clearfix"><a href="#home"></a></div>
        <ul id="menu">
            <li class="first"><a href="#home">Principal</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#freebies">Simulados</a></li>
            <li><a href="#clients">Projetos</a></li>
            <li><a href="#contact">Contatos</a></li>
        </ul>
        <form class="menu-dropdown hidden">
            <select onchange="location = this.options[this.selectedIndex].value;">
                <option value="#home">Principal</option>
                <option value="#about">Sobre</option>
                <option value="#freebies">Simulados</option>
                <option value="#clients">Projetos</option>
                <option value="#contact">Contatos</option>
            </select>
        </form>
        <a href="#menu-footer" class="menu-btn"></a>
    </nav>
</div>      