<a class="scroll-point" id="freebies"></a>
<div class="clear"></div>

<div class="sectionteal">
<section>
    <div class="separator"> 
        <div class="line"></div>
        <h2>Simulados</h2>
        <div class="line"></div>
    </div>
    <div class="grid3">
        <article class="col">
            <h3>Simulado 1</h3>
            <p id="ficaBrancoVai" > <a href="http://www.proprofs.com/quiz-school/story.php?title=teste-nmero-01">Clique aqui para fazer</a></p>
        </article>
                <article class="col">
            <h3>Simulado 2</h3>
            <p> <a href="http://www.proprofs.com/quiz-school/story.php?title=teste-nmero-02">Clique aqui para fazer</a></p>
        </article>
        <article class="col">
            <h3>Simulado 3</h3>
            <p> <a href="http://www.proprofs.com/quiz-school/story.php?title=teste-nmero-03">Clique aqui para fazer</a></p>
        </article>

    </div>
</section>
</div>