<header>
    <div class="wrapper">
        <div class="content">
            <hgroup>
                <img src="/assets/images/logo.png">
                <h1>Mais do que uma autoescola</h1>
                <h2>Buscando melhorar o trânsito a cada dia</h2>
            </hgroup>       
            <div class="clear"></div>               
                <!--<div class="read-on"><a href="#about" class="btn btn-large btn-block btn-inverse">Saiba mais</a>
                <br/><br/>-->
                <div class="btn btn-large btn-block btn-danger" style="font-size: 2.2em;">
                3° Encontro de profissionais do trânsito
                </div>
                <div class="btn btn-large btn-block btn-danger">
                Dias 24 e 25 de setembro - 19:30 às 22:00 hs
                Local: ACIAJA Associação Comercial e Industrial de Jaboticabal
                Rua São Sebastião, 179
                </div>
                <a href="https://docs.google.com/forms/d/11ywPUGIX80Qq5L4autu58-QSGrmOpRfZTWDobFJfXo4/viewform?usp=send_form" class="btn btn-large btn-block btn-danger" style="font-size: 1.5em;" >
                Clique aqui e faça aqui sua incrição
                </a>
                </div>
            <div class="clear"></div>
        </div>
    </div>
</header>