<header>
    <div class="wrapper">
        <div class="content">
            <hgroup>
                <img src="/assets/images/logo.png">
                <h1>Mais do que uma autoescola</h1>
                <h2>Buscando melhorar o trânsito a cada dia</h2>
            </hgroup>       
            <div class="clear"></div>               
                <!--<div class="read-on"><a href="#about" class="btn btn-large btn-block btn-inverse">Saiba mais</a>
                <br/><br/>-->
                <div class="btn btn-large btn-block btn-danger" style="font-size: 2.2em;">
                3° Encontro de profissionais do trânsito
                </div>
                <a href="https://www.dropbox.com/sh/2xjph5okad52qtu/AAC-feXMsVYXbgZoa8bZE7Fra?dl=0" class="btn btn-large btn-block btn-danger" style="font-size: 1.5em;" >
                Clique aqui para ver e baixar as fotos
                </a>
                </div>
            <div class="clear"></div>
        </div>
    </div>
</header>