
/* CountDown */

#countdown_dashboard {
  margin: 0 auto;
  border-radius: 3px;
  /*border:1px solid #eee;*/
  /*background: rgba(255,255,255,0.1);*/
  box-shadow: 5px;
  position: relative;
    width:100%;
    max-width: 280px;
    margin: 7rem auto;
    padding-bottom: 4rem;
    text-align: center;
  
}

#countdown_dashboard h1 {
  font-weight:100;
  font-size:40px;
  letter-spacing: -1px;
  color: #777;
  text-align: center;
/*  text-shadow: none;*/
}


.dash {
	width: 65px;
	height: 114px;
	background: transparent url('../images/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 0px;
	text-align: center;
}

/*.digit {
  border-top:5px solid #000;
}
*/
.dash .digit {
	text-align: center;
  background: #333;
  color: #fff;
	font-size: 15pt;
	font-weight: 800;
	float: left;
	width: 24px;
	text-align: center;
	font-family: inherit;
	position: relative;
   margin: 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.dash_title {
	display: block;
	font-size: 7.5pt;
  margin-bottom: 5px;
  text-align: center;
	color: #777;
	text-transform: uppercase;
	letter-spacing: 2px;
  font-weight:100;

}